#about-screen {
  position: relative;
  .content {
    display: block;
    position: relative;
    width: 95%;
    height: 80vh;
    margin: auto;
    margin-top: 5vh;
    border: 2px solid $dark-blue;
    .text {
      display: block;
      position: relative;
      height: auto;
      width: auto;
      margin-top: 200px;
      .name {
        font-size: 6rem;
      }
    }
  }
  ul {
    li {
      list-style: none;
    }
  }
}
