#about-screen {
  position: relative;
  .text {
    display: block;
    position: relative;
    height: auto;
    width: auto;
    margin-top: 200px;
    .name {
      font-size: 6rem;
    }
  }

  ul {
    li {
      list-style: none;
    }
  }

  @media (max-width: 700px) {
    .text {
      .name {
        font-size: 2rem;
      }
    }
  }
}
