//colors
$mustard: #feb249;
$dark-blue: #002447;
$teal: #53d3d1;
$white: #fbeceb;

*,
body,
html {
  box-sizing: border-box;
  text-align: center;
}

body {
  background: $dark-blue;
  color: $dark-blue;
}

.content {
  display: block;
  position: relative;
  height: auto;
  min-height: 80vh;
  margin: 5vh;
  padding: 5vh;
  border: 2px solid $dark-blue;
}

@media (max-width: 1150px) {
  .content {
    margin: 0 5vw;
    padding: 0;
    border: none;
  }
}
