#contact-screen {
  position: relative;
  height: 100%;
  width: 100%;
  .text {
    display: block;
    position: relative;
    height: auto;
    width: auto;
    margin-top: 30vh;
    font-size: 1.5rem;
  }
}
