#contact-screen {
  position: relative;
  .text {
    display: block;
    position: relative;
    width: auto;
    margin-top: 30vh;
    font-size: 1.5rem;
  }

  @media (max-width: 750px) {
    .text {
      font-size: 1rem;
    }
  }
}
