//mixins
@mixin link {
  margin: auto;
  padding: 0;
  height: 90vh;
  width: 3vw;
}

@mixin mobile-link {
  margin: auto;
  padding: 0;
  height: 95vh;
  width: 10vw;
}

//animation definitions

@keyframes content-slide {
  0% {
    width: 1vw;
  }
  50% {
    @extend .current-screen;
    width: 88vw;
  }
  100% {
    width: 85vw;
  }
}

//---------------------------------------

.landing-page {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 5vh;
  display: flex;
  flex-flow: row;

  .about-div {
    background: $teal;
    @include link;
  }
  .contact-div {
    background-color: $mustard;
    @include link;
  }

  .projects-div {
    background-color: $white;
    @include link;
  }

  .content-slide {
    animation: content-slide 0.8s ease-in-out;
  }

  .current-screen {
    z-index: 1;
    margin: 0 auto;
    height: 90vh;
    width: 85vw;
    overflow: scroll;
  }

  .link-label {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin: 0;
    margin-top: 40px;
    font-size: 2rem;
  }
}

@media (max-width: 1150px) {
  .landing-page {
    padding: 2vh;

    .about-div {
      @include mobile-link;
    }
    .contact-div {
      @include mobile-link;
    }

    .projects-div {
      @include mobile-link;
    }

    .current-screen {
      width: 95vw;
      height: 95vh;
    }

    .link-label {
      margin-top: 10px;
      // font-size: 1rem;
    }
  }
}
