#projects-screen {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  .content {
    animation: fadeIn 0.5s;
    h1 {
      font-size: 3rem;
      margin: 0 auto;
    }
    img,
    p {
      display: block;
      width: 60%;
      margin: 0 auto;
    }
    .certificate {
      width: 40%;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
